body {
    margin: 0;
    background-color: black; /* es para que con la opacidad se vea gris*/
    background-image: url(img/stars.png);
    background: url(img/Stars\ 2.png) center / cover no-repeat fixed;
    font-family: "Work Sans", sans-serif;
}


.header {
    background-color:#ffffff20;
    height: 60px;
    display: flex;
    justify-content: center;
}

.nav_navegate {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav_links {
    display: flex;
    justify-content:space-between;
    width: 18%;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.nav_links a {
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 24px;
}
.link_mod {
    border-bottom: #B773FB 2px solid;
}

.nav_user {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    gap: 5px;
    padding: 5px 10px;
}
.nav_user p {
    margin: 0;
    color: #ffffff;
}



.box_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}

.box_up h1 {
    color: #F8F8FF;
    font-weight: 700;
    font-size: 56px;
    padding: 48px 0px 8px 0px;
    margin: 0;
}

.box_up p {
    color: #F8F8FF;
    font-weight: 400;
    font-size: 16px;    
    margin: 0;
    padding: 0 0 16px 0;
}

.box_up button {
    background-color: #D7FC6E; 
    border-radius: 30px;
    width:155px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 8px;
}
.box_up span{
    font-size: 14px;
    font-weight: 500;
    color: #070707;
}


.box_tickets-1-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;

}

.box_tickets-3-4 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
    
}

.image_into-the-ticket{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 142px;
    height: 133.98px;
    border-radius: 8.02px;
}

.box_ticket{
    display: flex;
    border: 1px solid #F8F8FF;
    border-right: 0;
    border-left: 0;
    background:rgb(76, 76, 76);
    padding: 20px 39px;
    width: 506px;
}

.box_date {
    text-align: left;
    display: flex;
    gap: 5px;
    padding: 8px 0;
}

.text_into-the-ticket {
    padding: 13.49px 16px;
    text-align: left;
    color: #F8F8FF;
}
.text_into-the-ticket p {
    margin: 0;
    font-weight: 500px ;
    font-size: 14px;
}

.text_into-the-ticket h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

.text_into-the-ticket .description {
    font-weight: 400px ;
    font-size: 14px;
}

.box_down {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.ticket {
    display: flex;
}
.column-left {
    display: flex;
    flex-direction: column;
    width: 6%;
}
.corn-left_top {
    border: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    background: rgb(76, 76, 76);
    height: 33.3%;
}
.radius-left {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 8px 0 0 8px rgb(76, 76, 76);
    border-left: none;
    height: 33.3%;
    z-index: -1;
}
.corn-left_bottom {
    border: 1px solid #fff;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 10px;
    background:rgb(76, 76, 76);
    height: 33.3%;
}


.column-right {
    display: flex;
    flex-direction: column;
    width: 6%;
}
.corn-right_top{
    border: 1px solid #fff;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 10px;
    background: rgb(76, 76, 76);
    height: 33.3%;
}
.radius-right {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: -8px 0 0 8px rgb(76, 76, 76);
    border-right: none;
    height: 33.3%;
    z-index:-1;
}
.corn-right_bottom {
    border: 1px solid #fff;
    border-top: none;
    border-left: none;
    background-color: rgb(76, 76, 76);
    border-bottom-right-radius: 10px;
    height: 33.3%;
}   

.terms-privacy {
    padding: 222px 0 0 0;
    display: flex;
    justify-content:center;
}
.terms-privacy a {
    font-size: 14px;
    font-weight: 400px; 
    padding: 0 32PX;
    color:#fff
}
                   
.terms_box { 
    border-right: #fff 1px solid;   
 }
